In [4]:
import os
import pandas as pd
from datetime import datetime

In [11]:
os.listdir()

df = pd.DataFrame()

for csv_file in os.listdir():
    if 'csv' in csv_file:
        if csv_file == 'CARD_SUBWAY_MONTH_202005.csv':
            break
            
        else:
            df2 = pd.read_csv(csv_file, engine = "python")
            df = pd.concat([df, df2])

In [12]:
df

           사용일자  노선명     역명   승차총승객수   하차총승객수      등록일자
0      20150101  2호선    낙성대  14586.0  14889.0  20151217
1      20150101  2호선     사당  19233.0  20298.0  20151217
2      20150101  2호선     방배   5920.0   6065.0  20151217
3      20150101  2호선     서초   4379.0   4120.0  20151217
4      20150101  분당선    선정릉   1972.0   1828.0  20151217
...         ...  ...    ...      ...      ...       ...
17717  20200430  7호선     상동   7730.0   7786.0  20200503
17718  20200430  7호선  삼산체육관   2616.0   2286.0  20200503
17719  20200430  7호선    굴포천   4990.0   5027.0  20200503
17720  20200430  7호선   부평구청   5413.0   4684.0  20200503
17721  20200430  8호선     암사  10113.0   8961.0  20200503

[1111007 rows x 6 columns]

In [13]:
def date_changer(x):
    x = str(x)
    date = x[:4] + '-' + x[4:6]
    return date

df['사용일자'] = df['사용일자'].apply(date_changer)
df['datetime'] = pd.to_datetime(df['사용일자'])

df = df[['노선명', '승차총승객수', '하차총승객수', 'datetime']]
df

       노선명   승차총승객수   하차총승객수   datetime
0      2호선  14586.0  14889.0 2015-01-01
1      2호선  19233.0  20298.0 2015-01-01
2      2호선   5920.0   6065.0 2015-01-01
3      2호선   4379.0   4120.0 2015-01-01
4      분당선   1972.0   1828.0 2015-01-01
...    ...      ...      ...        ...
17717  7호선   7730.0   7786.0 2020-04-01
17718  7호선   2616.0   2286.0 2020-04-01
17719  7호선   4990.0   5027.0 2020-04-01
17720  7호선   5413.0   4684.0 2020-04-01
17721  8호선  10113.0   8961.0 2020-04-01

[1111007 rows x 4 columns]

In [14]:
df['노선명'].unique()

array(['2호선', '분당선', '수인선', '경원선', '일산선', '5호선', '6호선', '7호선', '경부선',
       '1호선', '안산선', '8호선', '공항철도 1호선', '경인선', '경춘선', '경의선', '중앙선', '9호선',
       '과천선', '장항선', '4호선', '3호선', '9호선2단계', '경강선', '우이신설선', '9호선2~3단계'],
      dtype=object)

In [146]:
def subway(line):
    subway_on_off = df.loc[df['노선명'] == line]
    subway_on_off = subway_on_off.set_index('datetime')
    subway_on_off = subway_on_off[['승차총승객수', '하차총승객수']].resample('M').mean()
    subway_on_off.index = subway_on_off.index.strftime('%Y %m')
    subway_on_off['승차총승객수'] = subway_on_off['승차총승객수'].astype(int)
    subway_on_off['하차총승객수'] = subway_on_off['하차총승객수'].astype(int)
    subway_on_off = subway_on_off.T
    subway_on_off.reset_index(inplace=True)
    subway_on_off.insert(0, '호선', line)
    subway_on_off.rename(columns = {'index' : '승하차'}, inplace = True)
    return subway_on_off

In [153]:
last_df = pd.DataFrame()

for i in list(df['노선명'].unique()):
    last_df = pd.concat([last_df, subway(i)], ignore_index=True)
    
last_df.to_csv('final.csv')

In [154]:
last_df

,호선,승하차,2015 01,2015 02,2015 03,2015 04,2015 05,2015 06,2015 07,2015 08,...,2019 07,2019 08,2019 09,2019 10,2019 11,2019 12,2020 01,2020 02,2020 03,2020 04
0,2호선,승차총승객수,31052.0,29290.0,33050.0,33127.0,31430.0,28940.0,30549.0,29045.0,...,31096.0,29592.0,28813.0,31483.0,31619.0,31380.0,27726.0,24518.0,18590.0,20273.0
1,2호선,하차총승객수,31269.0,29467.0,33276.0,33372.0,31785.0,29299.0,30919.0,29361.0,...,31557.0,30048.0,29286.0,31981.0,32098.0,31874.0,28113.0,24855.0,18841.0,20551.0
2,분당선,승차총승객수,10237.0,9690.0,11206.0,11293.0,10843.0,9708.0,10306.0,9802.0,...,10919.0,10284.0,10380.0,11255.0,11309.0,11062.0,9954.0,8720.0,6385.0,7242.0
3,분당선,하차총승객수,10571.0,9990.0,11584.0,11695.0,11169.0,10095.0,10678.0,10117.0,...,11297.0,10630.0,10726.0,11622.0,11696.0,11419.0,10278.0,9043.0,6633.0,7522.0
4,수인선,승차총승객수,2737.0,2624.0,3087.0,3234.0,3301.0,2930.0,2938.0,2907.0,...,3453.0,3273.0,3499.0,3825.0,3668.0,3465.0,3016.0,2624.0,2114.0,2390.0
5,수인선,하차총승객수,2750.0,2634.0,3102.0,3245.0,3310.0,2943.0,2939.0,2904.0,...,3460.0,3289.0,3515.0,3855.0,3691.0,3469.0,3030.0,2630.0,2123.0,2402.0
6,경원선,승차총승객수,7084.0,6929.0,8188.0,8346.0,8246.0,7260.0,7314.0,7122.0,...,7259.0,7011.0,7441.0,7940.0,7725.0,7372.0,6516.0,5641.0,4510.0,4932.0
7,경원선,하차총승객수,6940.0,6787.0,7989.0,8144.0,8038.0,7097.0,7137.0,6958.0,...,7034.0,6792.0,7202.0,7668.0,7470.0,7119.0,6320.0,5477.0,4380.0,4810.0
8,일산선,승차총승객수,9747.0,9320.0,10693.0,11326.0,10941.0,9560.0,10077.0,9814.0,...,11369.0,11051.0,11087.0,11958.0,11998.0,11606.0,10463.0,8956.0,7037.0,7726.0
9,일산선,하차총승객수,9431.0,9037.0,10316.0,10917.0,10559.0,9211.0,9741.0,9515.0,...,10983.0,10674.0,10673.0,11509.0,11521.0,11115.0,10095.0,8650.0,6801.0,7434.0
10,5호선,승차총승객수,11419.0,10787.0,12393.0,12783.0,11967.0,10967.0,11358.0,10839.0,...,11922.0,11355.0,11291.0,12395.0,12369.0,12186.0,10881.0,9867.0,7812.0,8534.0
11,5호선,하차총승객수,11306.0,10668.0,12275.0,12712.0,11832.0,10863.0,11247.0,10738.0,...,11782.0,11218.0,11166.0,12320.0,12240.0,12050.0,10764.0,9769.0,7743.0,8436.0
12,6호선,승차총승객수,8744.0,8354.0,9953.0,10026.0,9807.0,8965.0,8901.0,8508.0,...,9276.0,8858.0,9114.0,10134.0,9935.0,9528.0,8353.0,7554.0,6035.0,6489.0
13,6호선,하차총승객수,8626.0,8244.0,9865.0,9883.0,9652.0,8816.0,8719.0,8354.0,...,9099.0,8709.0,8970.0,10007.0,9803.0,9384.0,8217.0,7452.0,5953.0,6387.0
14,7호선,승차총승객수,13918.0,13243.0,15309.0,15490.0,14725.0,13574.0,13856.0,13162.0,...,13918.0,13186.0,13440.0,14381.0,14561.0,14043.0,12604.0,11398.0,9249.0,10066.0
15,7호선,하차총승객수,13594.0,12922.0,15019.0,15192.0,14392.0,13313.0,13534.0,12826.0,...,13678.0,12938.0,13207.0,14140.0,14314.0,13800.0,12381.0,11244.0,9139.0,9916.0
16,경부선,승차총승객수,12590.0,12319.0,14330.0,14718.0,14150.0,11919.0,12361.0,12236.0,...,12096.0,11774.0,12384.0,13136.0,13084.0,12664.0,11083.0,9159.0,7007.0,7954.0
17,경부선,하차총승객수,12674.0,12411.0,14395.0,14756.0,14181.0,11951.0,12408.0,12286.0,...,12015.0,11668.0,12293.0,13006.0,12974.0,12525.0,10969.0,9106.0,7005.0,7951.0
18,1호선,승차총승객수,30388.0,28906.0,30759.0,30633.0,29881.0,25426.0,27649.0,27223.0,...,26994.0,26402.0,25953.0,28815.0,28191.0,28368.0,25294.0,20198.0,14862.0,16871.0
19,1호선,하차총승객수,29443.0,28024.0,29909.0,29819.0,28938.0,25041.0,27171.0,26520.0,...,26747.0,26147.0,25672.0,28553.0,27894.0,27921.0,24822.0,19812.0,14636.0,16635.0
20,안산선,승차총승객수,9700.0,9455.0,11122.0,11297.0,11146.0,9690.0,9804.0,9537.0,...,9625.0,9263.0,9839.0,10474.0,10330.0,9868.0,8770.0,7484.0,6040.0,6714.0
21,안산선,하차총승객수,9350.0,9191.0,10992.0,11147.0,10999.0,9567.0,9673.0,9408.0,...,9490.0,9126.0,9715.0,10328.0,10168.0,9685.0,8637.0,7379.0,5959.0,6619.0
22,8호선,승차총승객수,9372.0,8889.0,10261.0,10525.0,10005.0,9130.0,9422.0,8977.0,...,11230.0,10578.0,10666.0,11530.0,11701.0,11526.0,10371.0,9250.0,7364.0,8041.0
23,8호선,하차총승객수,9210.0,8761.0,10082.0,10337.0,9826.0,8957.0,9269.0,8824.0,...,11198.0,10539.0,10624.0,11491.0,11678.0,11523.0,10377.0,9263.0,7396.0,8036.0
24,공항철도 1호선,승차총승객수,8299.0,8139.0,8631.0,8430.0,8380.0,7458.0,7968.0,8181.0,...,8559.0,8667.0,8173.0,8880.0,8765.0,8678.0,8048.0,6510.0,4306.0,4529.0
25,공항철도 1호선,하차총승객수,7763.0,7594.0,7995.0,7636.0,7595.0,6820.0,7253.0,7380.0,...,7906.0,7905.0,7494.0,8078.0,8002.0,7953.0,7374.0,5999.0,4047.0,4266.0
26,경인선,승차총승객수,16402.0,15910.0,18582.0,18893.0,18385.0,16450.0,16676.0,16097.0,...,15889.0,15250.0,15783.0,16902.0,16622.0,16107.0,14331.0,12157.0,9648.0,10751.0
27,경인선,하차총승객수,16178.0,15701.0,18371.0,18656.0,18140.0,16218.0,16373.0,15820.0,...,15567.0,14955.0,15501.0,16550.0,16313.0,15777.0,14087.0,11951.0,9456.0,10587.0
28,경춘선,승차총승객수,1702.0,1677.0,2007.0,2125.0,2334.0,1828.0,1891.0,2103.0,...,2072.0,2106.0,2063.0,2263.0,2150.0,1993.0,1808.0,1534.0,1212.0,1441.0
29,경춘선,하차총승객수,1667.0,1640.0,1962.0,2078.0,2284.0,1795.0,1857.0,2060.0,...,1991.0,2024.0,1964.0,2158.0,2053.0,1892.0,1728.0,1476.0,1172.0,1394.0
30,경의선,승차총승객수,3222.0,3135.0,3807.0,4013.0,3873.0,3527.0,3553.0,3468.0,...,4153.0,3941.0,4178.0,4468.0,4447.0,4246.0,3746.0,3314.0,2635.0,2843.0
31,경의선,하차총승객수,3142.0,3063.0,3727.0,3914.0,3783.0,3431.0,3449.0,3382.0,...,4016.0,3808.0,4051.0,4334.0,4314.0,4100.0,3632.0,3217.0,2574.0,2774.0
32,중앙선,승차총승객수,4567.0,4433.0,5286.0,5485.0,5522.0,4715.0,4853.0,4791.0,...,4665.0,4512.0,4691.0,5079.0,4957.0,4666.0,4086.0,3522.0,2852.0,3269.0
33,중앙선,하차총승객수,4477.0,4356.0,5189.0,5376.0,5408.0,4607.0,4727.0,4674.0,...,4505.0,4352.0,4523.0,4895.0,4780.0,4487.0,3953.0,3423.0,2758.0,3171.0
34,9호선,승차총승객수,10017.0,9442.0,10655.0,11513.0,10484.0,9686.0,10257.0,9760.0,...,11121.0,10568.0,10475.0,11350.0,11485.0,11318.0,10168.0,8985.0,6910.0,7594.0
35,9호선,하차총승객수,9927.0,9363.0,10557.0,11356.0,10379.0,9601.0,10188.0,9719.0,...,11364.0,10878.0,10708.0,11614.0,11778.0,11639.0,10433.0,9152.0,6977.0,7678.0
36,과천선,승차총승객수,13484.0,12510.0,14694.0,15665.0,15637.0,12801.0,13611.0,13255.0,...,13799.0,13216.0,13293.0,14678.0,14370.0,13871.0,12243.0,10783.0,7833.0,8834.0
37,과천선,하차총승객수,13168.0,12163.0,14368.0,15325.0,15301.0,12605.0,13364.0,13045.0,...,13458.0,12903.0,12999.0,14340.0,14005.0,13511.0,11968.0,10589.0,7717.0,8664.0
38,장항선,승차총승객수,2255.0,2226.0,3042.0,3008.0,3026.0,2130.0,2033.0,2143.0,...,2206.0,2201.0,2729.0,2849.0,2808.0,2543.0,2060.0,1469.0,1006.0,1334.0
39,장항선,하차총승객수,2186.0,2155.0,2918.0,2868.0,2896.0,2041.0,1979.0,2095.0,...,2124.0,2110.0,2599.0,2698.0,2662.0,2411.0,1969.0,1410.0,972.0,1284.0
40,4호선,승차총승객수,22795.0,21791.0,25164.0,25496.0,24770.0,21784.0,22248.0,21512.0,...,21681.0,20776.0,21098.0,22911.0,22975.0,22650.0,19501.0,16812.0,12800.0,13954.0
41,4호선,하차총승객수,22976.0,21960.0,25288.0,25668.0,24978.0,21853.0,22345.0,21657.0,...,21946.0,21053.0,21355.0,23196.0,23281.0,23025.0,19796.0,16974.0,12855.0,14025.0
42,3호선,승차총승객수,16461.0,15628.0,17497.0,17734.0,16993.0,15074.0,15883.0,15350.0,...,16720.0,16170.0,16094.0,17559.0,17780.0,17168.0,15318.0,13124.0,9878.0,10976.0
43,3호선,하차총승객수,16602.0,15814.0,17649.0,17901.0,17237.0,15199.0,16058.0,15553.0,...,16652.0,16114.0,16065.0,17486.0,17772.0,17164.0,15329.0,13088.0,9865.0,11001.0
44,9호선2단계,승차총승객수,NaN,NaN,3716.0,4642.0,4810.0,4793.0,5415.0,5293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,9호선2단계,하차총승객수,NaN,NaN,3295.0,4394.0,4582.0,4667.0,5273.0,5129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,경강선,승차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2523.0,2455.0,2596.0,2791.0,2771.0,2650.0,2379.0,2027.0,1510.0,1779.0
47,경강선,하차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2414.0,2343.0,2476.0,2657.0,2637.0,2505.0,2265.0,1949.0,1468.0,1721.0
48,우이신설선,승차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3342.0,3182.0,3365.0,3612.0,3608.0,3434.0,3067.0,2705.0,2220.0,2481.0
49,우이신설선,하차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3216.0,3069.0,3241.0,3472.0,3475.0,3308.0,2962.0,2640.0,2178.0,2415.0
50,9호선2~3단계,승차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6762.0,6525.0,6167.0,6874.0,7157.0,7298.0,6277.0,5632.0,4334.0,4721.0
51,9호선2~3단계,하차총승객수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6663.0,6361.0,6032.0,6707.0,6997.0,7213.0,6152.0,5540.0,4264.0,4626.0